/* Overall page layout and styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity here, 0.7 is 70% opacity */
    margin-left: auto;
    margin-right: auto;
}


body {
    background-image: url('../assets/loginBG.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically and horizontally */
    height: 100vh; /* Full viewport height */
}

h1, h2 {
    color: #333;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Includes padding and border in element's total width and height */
}

.loginButton {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}

/* Error message styling */
p[style] {
    color: #cc0000; /* Red color for error messages */
    font-weight: bold;
}
